<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p style="float: middle">
            <a href="/conduct">Code of Conduct</a> |
            <a href="/privacy">Privacy Statement</a>
        </p>
    </section>
</section>
