{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content|raw }}

    <h2>Upcoming events</h2>

    <p>Times listed below have been converted to local time.</p>

    {% set upcoming = false %}
    {% set featured_event = false %}
    {% for p in page.find('/events/flip-matrix-bot').children.order('header.date', 'asc') %}
        {% set passed = p.header.date < now|date("U") %}
        {% if not p.header.cancelled and not passed %}
            <h3><a href="{{p.url}}">{{p.header.name_or_game|e}}</a></h3>

            {% set bannerimage = p.header.game_url|e|preview|e %}
            {% if bannerimage %}
                <a href="{{p.header.game_url|e}}"><img height=100 src="{{bannerimage}}" alt="Image representing {{p.header.game|e}}" title="{{p.header.game|e}}"></a>
            {% else %}
                <b>Game:</b> <a href="{{p.header.game_url|e}}">{{p.header.game|e}}</a>
            {% endif %}
            <p>%DATE%{{p.header.date|date('c')}}</p>

            {% if not upcoming %}
                {% set featured_event %}
                    <div class="featured">
                    <h2>Next event</h2>
                    {% if bannerimage %}
                        <a href="{{p.header.game_url|e}}"><img height=250 src="{{bannerimage}}" alt="Image representing {{p.header.game|e}}" title="{{p.header.game|e}}"></a>
                        <h3><a href="{{p.url}}">{{p.header.name_or_game|e}}</a></h3>
                    {% else %}
                        <h3><a href="{{p.url}}">{{p.header.name_or_game|e}}</a></h3>
                        <b>Game:</b> <a href="{{p.header.game_url|e}}">{{p.header.game|e}}</a>
                    {% endif %}
                    <p>{{p.header.time|nicetime}}</p>
                    <p>%DATE%{{p.header.date|date('c')}}</p>
                    </div>
                {% endset %}
            {% endif %}

            {% set upcoming = true %}
        {% endif %}
    {% endfor %}

    {% if not upcoming %}
        <p>There are no upcoming events. If you are so inclined, consider hosting one of your own!</p>
    {% endif %}

    {% set found = false %}
    {% set recent_time = now|date("U")-7200 %}
    {% for p in page.find('/events/flip-matrix-bot').children.order('header.date', 'dec') %}
        {% if not found %}
            {% if not p.header.cancelled and p.header.date < now|date("U") and p.header.date > recent_time %}
                {% set found = true %}
                {% set bannerimage = p.header.game_url|e|preview|e %}

                {% set featured_event %}
                    <div class="featured">
                    <h2>Ongoing event</h2>
                    {% if bannerimage %}
                        <a href="{{p.header.game_url|e}}"><img height=250 src="{{bannerimage}}" alt="Image representing {{p.header.game|e}}" title="{{p.header.game|e}}"></a>
                        <h3><a href="{{p.url}}">{{p.header.name_or_game|e}}</a></h3>
                    {% else %}
                        <h3><a href="{{p.url}}">{{p.header.name_or_game|e}}</a></h3>
                        <b>Game:</b> <a href="{{p.header.game_url|e}}">{{p.header.game|e}}</a>
                    {% endif %}
                    <p>{{p.header.time|nicetime}}</p>
                    <p>%DATE%{{p.header.date|date('c')}}</p>
                    </div>
                {% endset %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {{ featured_event }}

    {% script at 'bottom' %}
        const options = {dateStyle: 'full', timeStyle: 'short'};
        function to_localtime(match, p1, offset, string, groups) {
            const date = new Date(p1);
            const local= new Intl.DateTimeFormat('default', options).format(date) + '<';
	    return local;
        }

        const re = new RegExp(/%DATE%(\d.+)</, "g");
        document.body.innerHTML = document.body.innerHTML.replace(re, to_localtime);

        let featured = document.querySelector('.featured');
	if (featured) {
            let fold = document.querySelector('h2');
            fold.before(featured);
	}
    {% endscript %}

{% endblock %}
