{% extends 'partials/base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% set image_url = page.header.game_url|e|preview|e %}
    {% if image_url %}
        <meta property="og:image" content="{{image_url}}" />
        <meta property="og:image:alt" content="Image representing the game {{page.header.game|e}}" />
    {% endif %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{page.header.name_or_game|e}}",
      "startDate": "{{page.header.time|date('c')}}",
      {% if page.header.cancelled %}
        "eventStatus": "https://schema.org/EventCancelled",
      {% endif %}
      "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
      "location": {
        "@type": "VirtualLocation",
        "url": "{{page.canonical}}"
      },
      {% if image_url %}
        "image": "{{image_url}}",
      {% endif %}
      "description": "Come play {{page.header.game|e}} with the Friendly Linux Players (FLiP) community! While this is a Linux gaming event, the only requirement for attendance is following our Code of Conduct. You needn't worry about skill level, experience, or operating system. Hosted by {{page.header.host}}.",
      "organizer": {
        "@type": "Organization",
        "name": "Friendly Linux Players",
        "url": "https://friendlylinuxplayers.org"
      }
    }
    </script>
{% endblock %}

{% block content %}
    {% set passed = page.header.date < now|date("U") %}
    {% set utc_time = page.header.time|date('l, F jS, Y \\a\\t H:i e') %}
    {% set image_url = page.header.game_url|e|preview|e %}

    {% if passed %}
        {% set edits = page.header.generation - 2 %}
    {% else %}
        {% set edits = page.header.generation - 1 %}
    {% endif %}

    {% if page.header.cancelled %}
        <h1>Event: {{page.header.name_or_game|e}} (Cancelled)</h1>
        <h2><time datetime="{{page.header.time|date('c')}}">{{utc_time}}</time></h2>
        <p>would have been {{page.header.time|nicetime}}</p>
    {% else %}
        <h1>Event: {{page.header.name_or_game|e}}</h1>
        <h2><time datetime="{{page.header.time|date('c')}}">{{utc_time}}</time></h2>
        <p>{{page.header.time|nicetime}}</p>
    {% endif %}
    
    {% if image_url %}
        <img height=250 src="{{image_url}}" alt="Image representing {{page.header.game|e}}" title="{{page.header.game|e}}">
    {% endif %}

    {% if page.header.ownership_required %}
        {% set ownership_note = '' %}
    {% else %}
        {% set ownership_note = ' (ownership not required to attend)' %}
    {% endif %}

    <p>
        <b>Game:</b> <a href={{page.header.game_url|e}}>{{page.header.game|e}}</a>{{ownership_note}}</br>
        <b>Host:</b> <a href=https://matrix.to/#/{{page.header.host}}>{{page.header.host}}</a></br>
        <b>Meeting place:</b> {{page.header.meeting_place|e|markdown(false)}}</br>
        {% if page.header.game_server %}
            <b>Server:</b> {{page.header.game_server|e}}</br>
            {% if page.header.game_server_pwd %}
                <b>Password:</b> {{page.header.game_server_pwd|e}}</br>
            {% endif %}
        {% endif %}
        <b>Time (UTC):</b> {{utc_time}}</br>
        <b>ID:</b> {{page.header.id_hex}}
    </p>

    <p>
        {% if edits == 1 %}
            Scheduled on <a href={{page.header.mx_msg_permalink}}>{{page.header.mx_time|date(X)}}</a> and edited 1 time since.
        {% elseif edits > 1 %}
            Scheduled on <a href={{page.header.mx_msg_permalink}}>{{page.header.mx_time|date(X)}} UTC</a> and edited {{edits}} times since.
        {% else %}
            Scheduled on <a href={{page.header.mx_msg_permalink}}>{{page.header.mx_time|date(X)}} UTC</a>.
        {% endif %}
        <a href={{page.canonical}}>Permalink</a> <button onclick="copyPermalink()"<i class="fa fa-link" aria-label="Copy permalink" title="Copy permalink"></i></button>
    </p>

    <h3>Participating</h3>
    <p>
        {% if page.header.cancelled %}
            This event has been cancelled. Anyone interested in joining future Friendly Linux Players gaming events is welcome to do so, provided our <a href=/conduct>Code of Conduct</a> is adhered to.
        {% elseif passed %}
            The start time of this event has passed. If this was recent, consider checking whether anyone is still playing! Anyone interested in participating in Friendly Linux Players gaming events is welcome to do so, provided our <a href=/conduct>Code of Conduct</a> is adhered to.
        {% else %}
            Anyone interested in participating in Friendly Linux Players gaming events is welcome to do so, provided our <a href=/conduct>Code of Conduct</a> is adhered to.
        {% endif %}

        All you have to do is show up at the meeting place at the scheduled time, ready to play the game (and to have fun).
    </p>

        {% if page.header.meeting_place|contains('mumble.flip.earth') %}
            <p>This event takes place on our <a href=https://www.mumble.info/>Mumble</a> voice chat server. Install a <a href=https://www.mumble.info/downloads/>Mumble client</a> and add <a href=mumble://mumble.flip.earth>mumble.flip.earth</a> (using the default port, 64738) as a new server to join us.</p>
        {% endif %}

        </p>If you have any questions about this event, please feel free to ask us in our main Matrix chat room at <a href=https://matrix.to/#/#flip:flip.earth>#flip:flip.earth</a>. If you don't have Matrix already, the quickest way to join is with our <a href=https://element.flip.earth>hosted web client</a>.</p>

    <h3>More information</h3>

    <p>For more general information about community events, including how to learn of upcoming events, or how to schedule an event of your own, see the <a href=/events>Events page</a>.</p>
    <p>To learn about the Friendly Linux Players community in general, visit the <a href=/>Home page of our website</a>.</p>

    {% script at 'bottom' %}
        window.history.replaceState('{{page.header.id_hex}}', '', '{{page.header.routes.default|e}}');

        const options = {dateStyle: 'full', timeStyle: 'short'};
        const date = new Date('{{page.header.time|date('c')}}');
        const date_string = new Intl.DateTimeFormat('default', options).format(date);
        document.body.innerHTML = document.body.innerHTML.replace('{{utc_time}}', date_string);
        document.body.innerHTML = document.body.innerHTML.replace('<code>mumble.flip.earth</code>', '<a href=mumble://mumble.flip.earth>mumble.flip.earth</a>');

        function copyPermalink() {
            navigator.clipboard.writeText('{{page.canonical}}');
        }
    {% endscript %}

{% endblock %}
